section#about.about.m40
    .container
      .about__body
        .about__column
          .about__title.title  
            h2._pt О нас
          .about__text   
            p Как опытные специалисты, отлично разбирающиеся в такой специфике, как наружное утепление, мы смело можем реализовать даже широкомасштабные проекты в сжатые сроки. 
            p У нас работают прошедшие аттестацию и имеющие допуск альпинисты-высотники, которые способны не только обеспечить ответственный подход к выполнению работы, но и работать на любой высоте независимо от этажности и высоты здания. 
            p У нас работают только сертифицированные сотрудники с колоссальным опытом работы.
          
        .about__column
          .about__img.imgs
            img(src='assets/img/png/who-we-2.jpg')
