//- вариант баннера без слайдера---------------
//- section.first#first
  //- section.bunner#bunner
  //-     .bunner__bg.imgs
  //-       picture
  //-           source(srcset="assets/img/paralax.jpg, assets/img/paralax@2.jpg 2x,  assets/img/paralax@3.jpg 3x,"  type="image/jpg"  media="(min-width: 1200px)")
  //-           source(srcset="assets/img/img-2.png" type="image/png"  media="(min-width: 1000px) and (max-width: 1199px)")
  //-           source(srcset="assets/img/busic.gif" type="image/gif"  media="(max-width: 999px)")
  //-           img(src='assets/img/img-2.png', alt='img')
  //-     .container
  //-       .bunner__body
  //-         .bunner__title 
  //-           h1 Блог о компании
  //-         .bunner__text  
  //-           p и способы борьбы с конкурирующими компаниями

//- вариант баннера со слайдером-----------------
section.first#first
    .bunner-slider#bunner
          .slider
            ul.slider__slider.slider__body.slider-js-1
                li.slider__item.slider-card
                    .slider-card__img.imgs
                         img(src='assets/img/png/bunner.jpg', alt='img')
                    .container
                        .slider-card__body
                          .slider-card__title 
                            h2._pt Все виды ремонта
                            img(src='assets/img/png/dec-2.png', alt='img')
                          .slider-card__text  
                            p <span>✓</span>Мы на рынке Украины уже более 10 лет 
                            p <span>✓</span>Всегда работаем только с качественными материалами и готовы взяться даже за самый сложный объект
                            p <span>✓</span>Будем рады воплотить Ваши мечты и сделать Ваше жилье самым красивым
                            p <span>✓</span>Лучшие материалы с <strong>гарантией</strong> качества
                            p <span>✓</span>Доступная цена 2021 года - от 500 грн. за 1 м² 
                          a(href="").btn.btn--success.slider-card__button  Заказать услугу
                            img(src='assets/img/png/dec-1.png', alt='img')
                li.slider__item.slider-card
                    .slider-card__img.imgs
                        img(src='assets/img/png/bunner-1.png'   alt='img')
                    .container
                        .slider-card__body 
                          .slider-card__title 
                            h2._pt Утепление фасадов в Мариуполе
                            img(src='assets/img/png/dec-2.png', alt='img')
                          .slider-card__text  
                            p <span>✓</span>Мы на рынке Украины уже более 10 лет 
                            p <span>✓</span>Всегда работаем только с качественными материалами и готовы взяться даже за самый сложный объект
                            p <span>✓</span>Будем рады воплотить Ваши мечты и сделать Ваше жилье самым красивым
                            p <span>✓</span>Опытные альпинисты - высотники
                            p <span>✓</span>Лучшие материалы с <strong>гарантией</strong> качества
                            p <span>✓</span>Доступная цена 2021 года - от 500 грн. за 1 м² 
                          a(href="").btn.btn--success.slider-card__button  Заказать услугу
                              img(src='assets/img/png/dec-1.png', alt='img')