section#counter.counter
    .container
      .counter__inner
        .counter__item
          i 
          h4 760
          h5 Всего проектов
        .counter__item
          i 
          h4 342
          h5 Утепление квартир
        .counter__item
          i 
          h4 268
          h5 Утепление домов
        .counter__item
          i 
          h4 760
          h5 Довольных клиентов
