.dws
      .pulse
        .bloc
        a(href='#!').phone
          i.icon-phone(aria-hidden='true')
footer#footer.footer
    .up_down_btn(title='Наверх') 

    .text Кнопка связи
    .container
      .footer__body
        .footer__item.footer-item
          .footer-item__title Наша рассылка
          form.footer-item__description
            p.footer-item__line 
                input(type="text" placeholder="Введите email ")
            p.footer-item__line 
               a(href='#!').footer-item__button.btn.btn--success Подписаться 
        .footer__item.footer-item
          .footer-item__title Наши контакты
          .footer-item__description
            p.footer-item__line 
              a(href="#!").footer-item__tel 
                i.icon-phone
                span 837 455185
            p.footer-item__line 
              a(href="#!").footer-item__fax
                i.icon-phone
                span 837 455144
          .footer-item__description
            p.footer-item__line 
              a(href="#!").footer-item__tel
                i.icon-envelope 
                span google@gmail.com
        .footer__item.footer-item
          .footer-item__title Мы в инстаграм
          .insta
              .insta__item.insta-item
                a.insta-item__link(href="#!")
                .insta-item__img.imgs
                  img(src="assets/img/project/link.png",alt="img")
              .insta__item.insta-item
                a.insta-item__link(href="#!")
                .insta-item__img.imgs
                  img(src="assets/img/project/link.png",alt="img")
              .insta__item.insta-item
                a.insta-item__link(href="#!")
                .insta-item__img.imgs
                  img(src="assets/img/project/link.png",alt="img")
              .insta__item.insta-item
                a.insta-item__link(href="#!")
                .insta-item__img.imgs
                  img(src="assets/img/project/link.png",alt="img")
           
        .footer__item.footer-item.footer-menu
          .footer-item__title Меню
          ul.footer__menu.footer-menu
            li.footer-menu__item
              a(href='#bunner').footer-menu__link Верх
            li.footer-menu__item
              a(href='#about').footer-menu__link О нас
            li.footer-menu__item
              a(href='#services').footer-menu__link Наши услуги
            li.footer-menu__item
              a(href='#projects').footer-menu__link Наши работы
            li.footer-menu__item
              a(href='#contacts').footer-menu__link Контакты
          .footer-menu__soc.soc
            a(href='#!').soc__item
              i.icon-free-icon-facebook-logo-in-circular-shape-446461
            a(href='#!').soc__item
              i.icon-instagram1
            a(href='#!').soc__item
              i.icon-telegram1
            a(href='#!').soc__item
              i.icon-messenger1


            
      .footer__copyright  2021 © FASAD All rights reserved