section#projects.projects
  .projects__wrapper
    .container
      .projects__title.title
            h2 Наши работы
            p Great & Awesome Works
      .projects__body
        .projects__controls.projects-controls.controls(data-aos='fade-right')
                button.control(type='button' data-filter='all') Все работы 
                button.control(type='button' data-filter='.red') Квартиры 
                button.control(type='button' data-toggle='.green') Фасады домов
                button.control(type='button' data-toggle='.blue') Балконы
                button.control(type='button' data-toggle='.aqua') Переходы 
                button.control(type='button' data-toggle='.pink') Подъезды
        .projects__column(data-aos='fade-left')
              #Container
                .mix.red
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/i-5.png', alt='img')
                .mix.blue
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/i-6.png', alt='img')
                .mix.red
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/i-3.png', alt='img')
                  

                .mix.green
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/i-3.png', alt='img')
                .mix.blue
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/project-5.jpg', alt='img')
                .mix.pink
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/i-1.png', alt='img')
                .mix.aqua
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/link.png', alt='img')
                .mix.blue
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/project-5.jpg', alt='img')
                .mix.aqua
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/link.png', alt='img')
                .mix.blue
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/project-5.jpg', alt='img')
                .mix.red
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/i-5.png', alt='img')
                .mix.pink
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                      img(src='assets/img/project/i-1.png', alt='img')
                .mix.blue
                  .mask
                    .project_hover_content
                        h4 ул. Строителей 4
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                        .view_btn
                          a(href='#').btn.btn--empty Подробнее
                  .mix__img.imgs 
                    img(src='assets/img/project/project-5.jpg', alt='img')




