section#projects.projects.m50 
  .projects__wrapper
    .container
      .projects__title.title
            h2 Наши работы
      .projects__body
        .projects__controls.projects-controls.controls
                button.control(type='button' data-filter='all') Все работы 
                button.control(type='button' data-filter='.red') Квартиры 
                button.control(type='button' data-toggle='.green') Фасады домов
                button.control(type='button' data-toggle='.blue') Балконы
                button.control(type='button' data-toggle='.aqua') Переходы 
                button.control(type='button' data-toggle='.pink') Подъезды
        .projects__column
              #Container
                .mix.red
                .mix.red
                .mix.blue 
                .mix.green
                .mix.blue
                .mix.pink
                .mix.aqua
                .mix.blue
                .mix.aqua
                .mix.blue
                .mix.red
                .mix.pink
                .mix.blue




