section#services.services
  .services__wrapper
      .services__body
        .services__column
          .services__img.imgs
            picture
              source(srcset='assets/img/png/service.jpg'  type='image/png'  media='(min-width: 1200px)')
              source(srcset='assets/img/png/service-bg-1200.jpg' type='image/png'  media='(min-width: 0px) and (max-width: 1199px)')
              img(src='assets/img/service.jpg', alt='img')
          .services__grid.grid
            .grid__item.g-item
              i.icon-building-insights-3
              .g-item__title Утепление квартир
              .g-item__text  Приятное времяпрепровождение в квартире полностью зависит от внутреннего микроклимата
              .g-item__button
                a(href='#!').btn.btn--empty Узнать больше
            .grid__item.g-item
              i.icon-classical-building
              .g-item__title Утепление фасадов домов
              .g-item__text  После утепления стен, каждый сможет увидеть определенную экономию средств по энергоносителям.
              .g-item__button
                a(href='#!').btn.btn--empty Узнать больше
            .grid__item.g-item
              i.icon-trowel
              .g-item__title Теплоизоляция домов
              .g-item__text   Как показывает практика холода застают большинство граждан врасплох, где даже стены собственного дома не спасают от непогоды.
              .g-item__button
                a(href='#!').btn.btn--empty Узнать больше
            .grid__item.g-item
              i.icon-entrance
              .g-item__title Утепление подъездов
              .g-item__text  Холодные стены зимой и постоянная сырость в комнатах - это приметы с которыми зачастую сталкиваются жители многоэтажек.
              .g-item__button
                a(href='#!').btn.btn--empty Узнать больше
            .grid__item.g-item
              i.icon-sharp-balcony
              .g-item__title Утепление балконов
              .g-item__text  Утепление балкона является неотъемлемой частью в процессе преображения внешнего фасада здания. 
              .g-item__button
                a(href='#!').btn.btn--empty Узнать больше
            .grid__item.g-item
              i.icon-bx-brush-alt
              .g-item__title Обновление фасадов
              .g-item__text  Для каждого дома фасад является его важной и неотъемлемой частью, требующей постоянного ухода и периодической реконструкции.
              .g-item__button
                a(href='#!').btn.btn--empty Узнать больше
        .services__info.services-info
          .services-info__title.title 
            h2 Наши услуги
          .services-info__text  Холодные стены зимой и постоянная сырость в комнатах - это приметы с которыми зачастую сталкиваются жители многоэтажек Мариуполя. Очень часто температура в подъездах таких домов схожа с температурой на улице. Справиться с данной проблемой можно комплексно, направив все силы на устранение возможных причин, приводящих к промерзанию.


//- .services__
//- .services__
//- .services__
//- .services__