extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/vidget
  //- include ../modules/sections
  include ../modules/about
  include ../modules/services

block footer
  //- include ../modules/modal
  include ../modules/loader
  include ../modules/start-button
  include ../modules/footer 
  